@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: firstFont;
    src: url(assets/fonts/TitanOne-Regular.ttf);
  }
@font-face {
    font-family: secondFont;
    src: url(assets/fonts/Nunito-VariableFont_wght.ttf);
  }
